
.account-info {
    margin-top: 0px;
    color: #fcfcfc;
    height: 350px;
    background-color: rgba(5, 192, 30, 0.664);
    margin-left: 80px;
    border-radius: 3%;
    transition: color 0.3s linear 0.2s;
    width: fit-content;
    height: fit-content;   
    padding: 20px;   
}
.account-info:hover {
    color: red;
}
.account-info {
    transition: color 0.3s linear 0.2s;
    width: fit-content;
    height: fit-content;
}
.account-info:hover,
.account-info:focus{
  background-color: #c26e0db9;
  color: #faf4f4;

}
@media screen and (max-width: 420px) {
    .form-row.account {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: fit-content;
    }
}
@media screen and (max-width: 420px) {
    .form-image {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: fit-content;
        top: auto;
        padding: 20px;
        margin-right: 1px;
    }
}
@media screen and (max-width: 780px) {
    .form-image {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: fit-content;
        top: auto;
        padding: 20px;
        margin-top: 0%;
    }
}
@media screen and (max-width: 780px) {
    .form-row.account {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: fit-content;
        margin-left: 1%;
    }
}
@media screen and (max-width: 420px) {
    .account-info {
        margin-left: 0px;
        padding: 20px;
    }
} 
@media screen and (max-width: 780px) {
    .account-info {
    margin-left: 0px;
    padding: 20px;
    }
}