
.account-info {
    margin-top: 0px;
    color: #fcfcfc;
    height: 350px;
    background-color: rgba(5, 192, 30, 0.664);
    margin-left: 30px;
    border-radius: 3%;    
}
.account-info:hover {
    color: red;
}
.account-info {
    transition: color 0.3s linear 0.2s;
    width: fit-content;
    height: fit-content;
}
.account-info:hover,
.account-info:focus{
  background-color: #c26e0db9;
  color: #faf4f4;

}
@media screen and (max-width: 600px) {
    .form-row.account {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .form-image {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        top: auto;
    }
}