.ctn-sellers {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.sell-fill-row {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.sell-fill-row .sell-fill-col:first-child {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 50px 0 50px 0;
}

.sell-fill-row .sell-fill-col:first-child input {
    padding: 10px 25px;
    border: none;
    box-shadow: 0 0 3px #2f5f74;
    width: 400px;
    outline: none;
    letter-spacing: 1.4px;
    color: #2f5f74;
    transition: all 0.7s;
}

.sell-fill-row .sell-fill-col:first-child input:focus {
    width: 300px;
}

.sell-fill-row .sell-fill-col:first-child button {
    background-color: #2f5f74;
    padding: 10px 25px;
    border: none;
    box-shadow: 0 0 5px #2f5f74;
    color: #ffffff;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    transition: all 0.5s;
}

.sell-fill-row .sell-fill-col:first-child .filter-group:last-child button:hover {
    background-color: #ffffff;
    color: #2f5f74;
}

.sell-fill-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}


.sell-fill-group {
    --bg: #e5ffee;
    --hover-bg: #dceee2;
    --hover-text: #fffbfd;
    max-width: 23ch;
    text-align: center;
    background: var(--bg);
    padding: 1.5em;
    padding-block: 1.8em;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    transition: .3s cubic-bezier(.6,.4,0,1),transform .15s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.sell-fill-group .body {
    color: #464853;
    line-height: 1.5em;
    font-size: 1em;
  }
  
  .sell-fill-group > :not(span) {
    transition: .3s cubic-bezier(.6,.4,0,1);
  }
  
  .sell-fill-group > strong {
    display: block;
    font-size: 1.4rem;
    letter-spacing: -.035em;
  }

  

  .sell-fill-group span {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--hover-text);
    border-radius: 5px;
    font-weight: bold;
    top: 100%;
    transition: all .3s cubic-bezier(.6,.4,0,1);
  }
  
  .sell-fill-group:hover span {
    top: 0;
    font-size: 1.2em;
  }
  
  .sell-fill-group:hover {
    background: var(--hover-bg);
  }
  
  .sell-fill-group:hover>div,.sell-fill-group:hover>strong {
    opacity: 0;
  }

.sell-fill-header {
    height: 130px;
    display: grid;
    place-items: center;
}

.sell-fill-body {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.sell-fill-body a {
    text-align: center;
    text-shadow: 0 0 1px #2f5f74;
    margin-bottom: 10px;
}

.sell-fill-body span.follow {
    /* Current change */
    background: #2f5f74;
    /* Incoming change */
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 1rem;
    height: 2rem;
    ;
    background: #c7a915;
    /* --------------- */
    width: max-content;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 3px;
    font-size: 14px;
    display: block;
    margin: 5px auto;
    cursor: pointer;
    box-shadow: 0 0 1px #2f5f74;
    transition: all 0.5s;
    /* Incoming change */
    /* Current change */
    border: black 1px solid;
}

.sell-fill-body span.follow:hover {
    background: #ffffff;
    color: #2f5f74;
}

.sell-fill-body span.date {
    font-weight: bold;
    display: block;
    margin: 5px auto;
    font-size: 10px;
}

.sell-fill-header img {
    width: 130px;
    height: auto;
}

.sell-fill-row .sell-fill-col .filter-pagination {
    margin: 80px 0 50px 0;
    /* Incoming change */
    /* Current change */
}


.background-sellers {
    
    background: #fff;
}

#Buscador {

    background: url(https://cdn0.iconfinder.com/data/icons/slim-square-icons-basics/100/basics-19-32.png) no-repeat 0px 5px;
    background-size: 24px;
    border: transparent;
    border-bottom: solid 1px #ccc;
    padding: 1rem;
    outline: none;
    width: 700px;
    height: 50px;
    border: solid 2px;
    font-size: 15pt;
    float: left;
    color: #262626;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 10px;
    border-color: black;
    margin-bottom: 3rem;
}


.card {
    background-color: rgb(254, 255, 247);
    bottom: 0;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
    height: 20rem;
    left: 0;
    margin: auto;
    overflow:hidden;
    position: relative;
    right: 0;
    top: 0;
    width: 15rem;
    place-items: center;
    margin-bottom: 3rem;
}

.card:hover {
    height: 20rem;
    /*salen todos los datos*/
    width: 16rem;
}

.card:hover .cta-container {
  display: inline;
  margin-left: -210px;
    margin-top: 15px;
}

.card:hover .card_circle {
    background-size: cover;
    border-radius: 0;
    margin-top: -80px;
    
}

.transition {
    transition: .8s cubic-bezier(.3, 0, 0, 1.3)
}
.card:hover .data-vendor {
    background: #69e7a2;
    
    margin-top: 100px;
    padding: 5px;
}

.card:hover .data-vendor small {
    color: rgb(71, 254, 144)
}

.card:hover .member {
    margin-top: 200px; /*desde*/

}

.card_circle  {
    border-radius: 50%;
    
    position: absolute;
    margin-left: -40px;
    margin-top: -150px;
    /*background-color: #69e7a2;*/
    background-size: cover;
}


.card_circle .image {
    border-radius: 50%;
    background-size: cover;
    background-position: top;
}

.card_circle .image img{
    height: 20rem;
    width: 20rem;
}



.data-vendor {
    color: rgb(0, 0, 0);
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-style: bold;
    margin-top:170px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 9999;
}

.member {
    color: rgba(0, 0, 0, .6);
    font-family: 'Raleway', sans-serif;
    font-size: 100%;
    margin-top: 220px;
    position: absolute;
    text-align: center;
    z-index: 9999;
    place-items: center;
}

.cta-container {
    font-family: 'Raleway', sans-serif;
    padding: 16rem;
    position:absolute;
    text-align: center;

}

.cta-container button {
    position:absolute;
    height: 2rem;
    width: 12rem;
    display: flex;
}

