.mainCont{
    display: flex;
    justify-content: center;
}

    @media screen and (max-width: 700px){
        .mainCont{
            display: inline-block;
        }
    }
    @media screen and (max-width: 414px){
        .mainCont{
        height: 360px;
        width: 700px;
        left:-190px;
        top:80px;
        display: flex;
        }
    
        
    }

.ctn-sellers {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
/*-------------------------------------*/
/*.sell-fill-row {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.sell-fill-row .sell-fill-col:first-child {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 50px 0 50px 0;
}
/*import to sellFilter*/

.sell-fill-row .sell-fill-col:first-child input {
    padding: 10px 25px;
    border: none;
    box-shadow: 0 0 3px #2f5f74;
    width: 400px;
    outline: none;
    letter-spacing: 1.4px;
    color: #2f5f74;
    transition: all 0.7s;
}

.sell-fill-row .sell-fill-col:first-child input:focus {
    width: 300px;
}

.sell-fill-row .sell-fill-col:first-child button {
    background-color: #2f5f74;
    padding: 10px 25px;
    border: none;
    box-shadow: 0 0 5px #2f5f74;
    color: #ffffff;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    transition: all 0.5s;
}

.sell-fill-row .sell-fill-col:first-child .filter-group:last-child button:hover {
    background-color: #ffffff;
    color: #2f5f74;
}

.sell-fill-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}


.sell-fill-group {
    --bg: #3fd411cb;
    --hover-bg: #dceee2;
    --hover-text: #fffbfd;
    max-width: 23ch;
    text-align: center;
    background: var(--bg);
    padding: 1.5em;
    padding-block: 1.2em;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    transition: .3s cubic-bezier(.6,.4,0,1),transform .15s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}


.sell-fill-group .body {
    color: #464853;
    line-height: 1.5em;
    font-size: 8em;
  }
  
  .sell-fill-group > :not(span) {
    transition: .3s cubic-bezier(.6,.4,0,1);
  }
  
  .sell-fill-group > strong {
    display: block;
    font-size: 1.4rem;
    letter-spacing: -.035em;
  }

  .sell-fill-group span {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--hover-text);
    border-radius: 5px;
    font-weight: bold;
    top: 100%;
    transition: all .3s cubic-bezier(.6,.4,0,1);
  }
  
  .sell-fill-group:hover span {
    top: 0;
    font-size: 1.2em;
  }
  
  .sell-fill-group:hover {
    background: var(--hover-bg);
  }
  
  .sell-fill-group:hover>div,.sell-fill-group:hover>strong {
    opacity: 0;
  }

.sell-fill-header {
    height: 120px;
    width: 180px;
}

.sell-fill-header img {width: 170px;height: 110px;}

.sell-fill-body {
    display: flex;
    background-color: #2f5f74;
    flex-direction: column;
    margin: 10px 0;
}

.sell-fill-body a {
    text-align: center;
    text-shadow: 0 0 1px #2f5f74;
    margin-bottom: 10px;
}

.sell-fill-body span.follow {
    /* Current change */
    background: #2f5f74;
    /* Incoming change */
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 1rem;
    height: 2rem;
    ;
    background: #c7a915;
    /* --------------- */
    width: max-content;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 3px;
    font-size: 14px;
    display: block;
    margin: 5px auto;
    cursor: pointer;
    box-shadow: 0 0 1px #2f5f74;
    transition: all 0.5s;
    /* Incoming change */
    /* Current change */
    border: black 1px solid;
}

.sell-fill-body span.follow:hover {
    background: #ffffff;
    color: #2f5f74;
}

.sell-fill-body span.date {
    font-weight: bold;
    display: block;
    margin: 5px auto;
    font-size: 10px;
}


.sell-fill-row .sell-fill-col .filter-pagination {
    margin: 80px 0 50px 0;
    /* Incoming change */
    /* Current change */
}



.background-sellers {
    /*background-color: #08c06d;
    background-color: #224083;
    
    background: url(https://wallpaperaccess.com/full/3158925.jpg) no-repeat 0px 5px;
    */background-size: 2000px;
    background-image: linear-gradient(to bottom, #08c06d, #1bc59b, #62cf9d);
}

#Buscador {
    background: url(https://icones.pro/wp-content/uploads/2021/06/icone-loupe-noir.png) no-repeat 10px 10px;
    background-size: 24px;
    border: transparent;
    border-bottom: solid 1px #ccc;
    padding: 1rem;
    outline: none;
    width: 800px;
    height: 50px;
    top:35px;
    border: solid 3px;
    font-size: 20pt;
    float: left;
    color: #efefef;
    font-style: bold;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 10px;
    border-color: black;
    margin-bottom: 1rem;
    margin-top: 6rem;
}
@media screen and (max-width: 414px){
    #Buscador {

        background: url(https://icones.pro/wp-content/uploads/2021/06/icone-loupe-noir.png) no-repeat 10px 10px;
        background-size: 24px;
        border: transparent;
        border-bottom: solid 1px #ccc;
        padding: 1rem;
        outline: none;
        width: 300px;
        height: 50px;
        left: -180px;
        top:100px;
        border: solid 3px;
        font-size: 20pt;
        float: left;
        color: #000000;
        font-style: bold;
        padding-left: 45px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 10px;
        border-color: black;
        margin-bottom: 3rem;
    }        
}


.card {
    /*background-color: rgba(100, 211, 234, 0.673);
    */
    background-image: linear-gradient(to bottom, #42c008, #0fdaa8, #11e993);
    bottom: auto;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
    height: 25rem;
    left: 50;
    margin: auto;
    overflow:hidden;
    position: relative;
    right: 0;
    top: 50;
    width: 15rem;
    place-items: center;
    margin-bottom: 3rem;
    margin-top: 4rem;
    border-radius: 25px;
    
}


/*tarjeta completa*/
.card:hover {
    height: 25rem;
    width: 35rem;
}
@media screen and (max-width: 414px){
    .card:hover {
        height: 22rem;
        width: 23rem;
    }        
}

.card:hover .cta-container {
    display: inline;
    margin-left: -210px;
    margin-top: 50px;
}
/*tarjeta completa*/
.card:hover .card_circle {
    background-size: cover;
    border-radius: 0;
    margin-top: 5px;
    margin-left: 10px;
    
}

.transition {
    transition: .8s cubic-bezier(.3, 0, 0, 1.3);
}
/*tabla completa*/
.card:hover .data-vendor {
    margin-top: 250px;
    margin-left: -170px;
    padding: 0px;
}

.card:hover .data-vendor small {
    color: rgb(71, 254, 144);
}
/*tabla completa*/
.card:hover .member {
    margin-left: 10px;
    margin-top: 280px; /*desde*/
    text-decoration: underline;
    

}
/*tabla inicial imagen*/
.card_circle  {
    border-radius: 50%;
    position: absolute;
    margin-left: 0px;
    margin-top: -10px;
    background-size: cover;
}


.card_circle .image {
    border-radius: 50%;
    background-size: cover;
    background-position: top;
}
/*tamaño imagen*/
.card_circle .image img{
    height: 15rem;
    width: 15rem;
    border-radius: 25px;
}
/*nombre de las tarjetas*/
.data-vendor {
    color: rgb(0, 0, 0);
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    font-style: bold;
    margin-top:290px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 9999;
}

.member {
    color: rgba(0, 0, 0, .6);
    font-family: 'Raleway', sans-serif;
    font-size: 100%;
    margin-top: 500px;
    position: absolute;
    text-align: center;
    z-index: 9999;
    place-items: center;
}

.cta-container {
    font-family: 'Raleway', sans-serif;
    padding: 16rem;
    position:absolute;
    text-align: center;

}

.cta-container button {
    position:absolute;
    height: 2rem;
    width: 12rem;
    display: flex;
}

@media screen and (max-width: 375px) {
    .follow-title{
        font-size: 20px;
        margin-top: 40rem;
        font-size: 3rem;
    }
    .footer-container{
        position: absolute;
    }   
    .header-menu{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width: 820px){
    .follow-title{
        font-size: 20px;
        margin-top: 40rem;
        font-size: 3rem;
    }
    .footer-container{
        position: absolute;
    }   
    .header-menu{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width: 768px){
    .follow-title{
        font-size: 20px;
        margin-top: 40rem;
        font-size: 3rem;
        
    }
    .footer-container{
        height: 180px;
        width: 780px;
        top: -55px;
        position:relative;
    }   
    .header-menu{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width: 414px) {
    .follow-title{
        font-size: 20px;
        margin-top: 40rem;
        font-size: 3rem;
    }
    .footer-container{
        height: 590px;
        width: 430px;
        top: 100px;
        position:relative;
    }   
    .header-menu{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 415px) {
    .wrapper-info{
        border-left: thick solid #000;
        /*border-right: thick solid #000;*/
        margin-left: 270px;
        margin-top: 30px;
        position: absolute;
    }
    
    h3.m_mail {
        color: rgba(18, 4, 101, 0.6);
        font-style: bold;
        font-family: 'Raleway', sans-serif;
        left: 10px;
      }
    
    h3.a_address{
        text-align: center;
        color: rgba(18, 4, 101, 0.6);
        font-style: bold;
        font-family: 'Raleway', sans-serif;
    }
    
    h3.p_phone{
        text-align: center;
        color: rgba(18, 4, 101, 0.6);
        font-style: bold;
        font-family: 'Raleway', sans-serif;
    }
}
.wrapper-info{
    border-left: thick solid #000;
    /*border-right: thick solid #000;*/
    margin-left: 270px;
    margin-top: 30px;
    position: absolute;
}

h3.m_mail {
    color: rgba(18, 4, 101, 0.6);
    font-style: bold;
    font-family: 'Raleway', sans-serif;
  }

h3.a_address{
    text-align: center;
    color: rgba(18, 4, 101, 0.6);
    font-style: bold;
    font-family: 'Raleway', sans-serif;
}

h3.p_phone{
    text-align: center;
    color: rgba(18, 4, 101, 0.6);
    font-style: bold;
    font-family: 'Raleway', sans-serif;
}