.sell-fill-row {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sell-fill-row .sell-fill-col:first-child {
    display: flex;
    justify-content: center;
    margin: 35px 0 70px 0;
}

.sell-fill-row .sell-fill-col:first-child input {
    padding: 10px 25px;
    border: none;
    box-shadow: 0 0 3px #2f5f74;
    width: 150px;
    outline: none;
    letter-spacing: 1.4px;
    color: #2f5f74;
    transition: all 0.7s;
}

.sell-fill-row .sell-fill-col:first-child input:focus {
    width: 300px;
}

.sell-fill-row .sell-fill-col:first-child button {
    background-color: #2f5f74;
    padding: 10px 25px;
    border: none;
    box-shadow: 0 0 5px #2f5f74;
    color: #ffffff;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    transition: all 0.5s;
}

.sell-fill-row .sell-fill-col:first-child .filter-group:last-child button:hover {
    background-color: #ffffff;
    color: #2f5f74;
}

.sell-fill-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.sell-fill-group {
    background-color: white;
    width: 250px;
    background-color: rgb(200, 235, 203);
    transition: all 2s linear;
    border-top-right-radius: 50px;
    border: double 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.sell-fill-group:hover {
    background-color: white;
    transform-origin: right;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.sell-fill-group:hover {
    background-color: rgb(223, 246, 228);
    transform-origin: bottom;
    transform: scale(1.02);
    transition-duration: 0.2s, 0.2s;
}
.sell-fill-header {
    height: 130px;
    display: grid;
    place-items: center;
}

.sell-fill-body {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.sell-fill-body a {
    text-align: center;
    text-shadow: 0 0 1px #2f5f74;
    margin-bottom: 10px;
}

.sell-fill-body span.follow {
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 1rem;
    height: 2rem;;
    background: #c7a915;
    width: max-content;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 3px;
    font-size: 14px;
    display: block;
    margin: 5px auto;
    cursor: pointer;
    box-shadow: 0 0 1px #2f5f74;
    transition: all 0.5s;
    border: black 1px  solid;
}

.sell-fill-body span.follow:hover {
    box-shadow: 0 3px 0.5px black, 0 0 0 0.5px #e79c07eb;
    background: #5bb547;
    color: #000000;
}

.sell-fill-body span.date {
    font-weight: bold;
    display: block;
    margin: 5px auto;
    font-size: 10px;
}

.sell-fill-header img {
    width: 130px;
    height: auto;
}

.sell-fill-row .sell-fill-col .filter-pagination {
    margin: 80px 0 50px 0;
}



.background-sellers {  
    background: -webkit-linear-gradient(90deg,  #5bcf8f 10%, #5bcf8f 90%); /* Chrome 10+, Saf5.1+ */
    background:    -moz-linear-gradient(90deg, #5bcf8f 10%, #5bcf8f 90%); /* FF3.6+ */
    background:     -ms-linear-gradient(90deg,  #5bcf8f 10%, #5bcf8f 90%); /* IE10 */
    background:      -o-linear-gradient(90deg,  #5bcf8f 10%, #5bcf8f 90%); /* Opera 11.10+ */
    background:         linear-gradient(90deg,  #5bcf8f 10%, #5bcf8f 90%); /* W3C */ 
}

.transition { transition: .3s cubic-bezier(.3, 0, 0, 1.3) }






