.cart-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 100px 0;
    background: url(https://thumbs.dreamstime.com/b/bolsa-de-dinero-en-manos-del-agricultor-sobre-el-fondo-los-cultivos-agr%C3%ADcolas-beneficio-concepto-agroindustrial-agr%C3%ADcola-209620066.jpg) no-repeat 0px 5px;
    background-size: 1500px;
}

.ctn-cart {
    background-color: #41d5d793;
    padding: 20px;
    border-radius: 60px;
    box-shadow: 12px 12px 15px -3px rgba(0, 0, 0, 0.1), -13px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.cart-title {
    text-align: center;
    letter-spacing: 1.3px;
    color: #2f5f74;
}

h3.info-empty {
    text-align: center;
    padding: 20px 30px;
    margin: 0 50px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    color: #ffffff;
}

.cart-items {
    margin: 40px 0;
    display: flex;
    padding: 0 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cart-col:first-child {
    flex: 2;
}

.cart-col:last-child {
    flex: 1;
}

.cart-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    margin: 0 50px;
    padding: 20px;
    border-radius: 20px;
    color: #ffffff;
    flex-wrap: wrap;
}

.card-footer.cart {
    margin: 10px 0;
}

.card-footer.cart button {
    display: block;
    margin: 0 auto;
    background-color: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    transition: all 0.5s;
    padding: 20px;
    border-radius: 50%;
    letter-spacing: 3px;
    font-size: 20px;
}

.card-footer.cart button:hover {
    background-color: #ffffff;
    color: #121212;
}

.card-action {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.card-action button {
    background: none;
    border: none;
    font-size: 22px;
    margin: 0 15px;
}

.card-action svg {
    transition: all 0.5s;
}

.card-action svg:hover {
    color: #2f5f74;
}

.card-action .quantity {
    font-weight: bold;
    font-size: 22px;
}

.cart-bill {
    margin-left: 80px;
    width: 100%;
    background-color: #36e697d3;
    padding: 10px;
    border-radius: 5px;
    padding: 50px 80px;
    border-radius: 20px;
}

.bill-title {
    text-transform: uppercase;
    color: #2f5f74;
    text-align: center;
    margin-bottom: 20px;
}

.bill-groups {
    margin: 30px 0;
}

.bill-total {
    width: 100%;
}

.bill-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dashed #2f5f74;
    padding: 10px 0;
}

.bill-btn {
    margin-top: 40px;
}

.bill-btn button {
    display: block;
    margin: 0 auto;
    background-color: #2f5f74;
    border: none;
    box-shadow: 0 0 5px #2f5f74;
    color: #ffffff;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    transition: all 0.5s;
    padding: 10px 20px;
    border-radius: 10px;
    letter-spacing: 3px;
}

.bill-btn button:hover {
    background-color: #ffffff;
    color: #2f5f74;
}

.orderPay {
    color: rgb(247, 246, 246);
    background-color: rgb(221, 9, 175);
    border: 1px solid #020202;
    padding: 3px;
    border-radius: 60px;
    text-align: center;
    margin-bottom: 20px;
}

/* Card prodcut */
.filter-card {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.card-body {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card-body a {
    color: #ffffff;
}

.view-product-page,
.view-product-info {
    padding: 10px 0;
}

@media screen and (orientation: portrait) {
    .cart-title{
        padding-left: 10%;
        display: flex;
        flex-wrap: wrap;
        
    }
    .cart-items{
        margin: 40px 0px;
        display: flex;
        padding: 0 5px;
        padding-left: 5%;
        display: flex;
        flex-wrap: wrap;
    }   
    .footer-row{   
        display: flex;
        flex-wrap: wrap;
    }
  
    .footer-container{
        justify-content: center;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        
    }
    .ctn-cart{      
        display: flex;
        flex-wrap: wrap;
    }
    .cart-row{
       
        display: flex;
        flex-wrap: wrap;
    }
    .cart-bill{
        padding-top: 0px;
    }
}
