.follow-row {
    min-height: 105vh;
    display: flex;
    background-image: url("fond2.jpg");
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    letter-spacing: 3px;
    flex-wrap: nowrap;
}

.follow-title {
    text-align: center;
    font-size: 32px;
    position: relative;
    margin-top: 18%;
    -webkit-transition: 1s linear;
    transition: 0.25s linear;
    letter-spacing: 1.3px;
    color: #1cd40b;
    border: solid 2px;
    border-radius: 10px;
    width: 64%;
    border-color: #070707;
    background-color: white;
}
.follow-title:hover{  
    -webkit-box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
    box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
  }
.follow-sellers {
    margin: 40px 0 60px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px 20px;
}

.unfollow {
    background: #ca2734;
    width: max-content;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 3px;
    font-size: 14px;
    display: block;
    margin: 5px auto;
    cursor: pointer;
    box-shadow: 0 0 1px #2f5f74;
    transition: all 0.5s;
}

.unfollow:hover {
    background: #fffffeec;
    color: #e70f0f;
}

@media screen and (max-width: 375px) {
    .follow-title{
        font-size: 20px;
        margin-top: 40rem;
        font-size: 3rem;
    }
    .footer-container{
        
        position: relative;
    }   
    .header-menu{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}