
#Buscador {
    width: 700px;
    height: 50px;
    border: solid 2px;
    font-size: 15pt;
    float: left;
    color: #262626;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 10px;
    border-color: black;
}

#Buscador:hover {
    width: 1200px;
}
