.box{
  margin-top: 3rem;
}
.reviews .reviews-slider .box{
    background: #62CF9D;
    border-radius: 3rem;
    text-align: center;
    padding: 3rem 2rem;
    outline: var(--outline);
    outline-offset: -1rem;
    box-shadow: var(--box-shadow);
  }
  .reviews .reviews-slider .box:hover{
    outline-offset: 0;
    outline: var(--outline-hover);
  }
  .reviews .reviews-slider .box img{
    height: 8rem;
    width: 10rem;
    border-radius: 50%;
  }
  .reviews .reviews-slider .box p{
    padding: 1rem 0;
    line-height:1.8;
    font-size: 1.5rem;
    color: var(--light-color);
  }
  .reviews .reviews-slider .box h3{
    padding: 0.5rem;
    color: var(--black);
    font-size: 2.2rem;
  }
  .reviews .reviews-slider .box .stars{
    color: var(--orange);
    font-size: 1.7rem;
  }

  .contenedor{
    width: 90%;
    max-width: 1000px;
    margin: 70px, auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
  }

  .contenedor > div {
    margin-top: 2rem;
    background-color: #62CF9D;
    padding: 20px;
    border-radius: 3rem;
    border: solid black;
  }
