.form-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    background-image: url(https://res.cloudinary.com/primalappsje/image/upload/v1672782251/primal/bg-login_dshaap.jpg);
  }
  
  .form-row form {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 50px 50px;
    border-radius: 30px;
  }
  
  .form-row .form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
  }
  
  .form-row .form-group label {
    letter-spacing: 1.4px;
    color: #000000;
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .form-row .form-group input {
    background: transparent;
    border: 0;
    border-bottom: 1px #fff solid;
    display: block;
    width: 450px;
    padding: 1.25rem 0;
    font-size: 1.125rem;
    color: #fff;
  }
  
  .form-row .form-group input:focus {
    outline: 0;
    border-bottom-color: #62cf9d;
  }
  
  .form-btn-a {
    margin-top: 20px;
    margin-left: 193px;
  }
  
  .btn-acc1 {
    height: 25px;
    width: 75px;
    display: flex;
    font-size: 16px;
    letter-spacing: 1.3px;
    background-color: #2adf8b52;
    border-color: transparent;
    border-radius: 10%;
    color: rgb(0, 0, 0);
    font-weight: bold;
  }
  
  .form-btn-a :hover{
    text-decoration: underline;
    color: rgb(255, 255, 255);
  }
  
  .form-btn button.button-add-product {
    width: 100%;
    padding: 15px 0;
    background-color: #62cf9d;
    color: #121212;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    letter-spacing: 1.3px;
    transition: all 0.5s;
    box-shadow: 0 0 5px #2f5f74;
    border-radius: 30px;
  }
  
  .icon-plus {
    margin: 0 10px;
  }
  
  /*.form-btn button:hover {
    background-color: #ffffff;
    color: #2f5f74;
  }*/
  
  .form-btn-b {
    margin-top: 20px;
    margin-left: 180px;
  }
  
  .btn-reg1 {
    display: flex;
    font-size: 16px;
    letter-spacing: 1.3px;
    background-color: #6770ea62;
    border-radius: 10%;
    border-color: transparent;
    font-weight: bold;
  }
  
  .form-btn-b :hover {
    text-decoration: underline;
    color: rgb(255, 255, 255);
  }
  
  .form-btn-c {
    margin-top: 20px;
    margin-left: 180px;
  }
  
  .btn-reg2 {
    display: flex;
    font-size: 16px;
    letter-spacing: 1.3px;
    background-color: #6770ea62;
    border-radius: 10%;
    border-color: transparent;
    font-weight: bold;
  }
  
  .form-btn-c :hover {
    text-decoration: underline;
    color: rgb(255, 255, 255);
  }
  
  .form-btn-d {
    margin-top: 20px;
    margin-left: 193px;
  }
  
  .btn-acc2 {
    display: flex;
    font-size: 16px;
    letter-spacing: 1.3px;
    background-color: #2adf8b52;
    border-radius: 10%;
    border-color: transparent;
    color: rgb(255, 255, 255);
    font-weight: bold;
  }
  
  .form-btn-d :hover{
    text-decoration: underline;
    color: rgb(255, 255, 255);
  }
  
  .logout {
    position: relative;
    margin: 0 20px;
    text-shadow: 0 0 1px #485b63;
    font-size: 18px;
    cursor: pointer;
  }
  
  .change-password {
    font-size: 12px;
    color: #ca2734;
    text-align: right;
    cursor: pointer;
  }
  
  .change-password:hover {
    text-decoration: underline;
  }
  
  .passwords {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background-color: #0000001e;
  }
  
  .passwords form {
    width: auto;
    background-image: url("Fond2.jpg");
    padding: 3px 5px;
    background-size: cover;
    border-radius: 7px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 50px 0 0 0;
  }
  
  .passwords form .form-group {
    margin: 15px 30px;
    display: flex;
    flex-direction: column;
  }
  
  .passwords form .form-group label {
    margin-bottom: 5px;
  }
  
  .passwords form .form-group input {
    height: 40px;
    border: 1px solid #2f5f74;
    padding: 5px 15px;
    outline: none;
    color: #040d8d;
    border-radius: 10px;
  }
  
  .close-form {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: -15px;
    top: -15px;
    width: 35px;
    height: 35px;
    background-color: #ca2734;
    color: #ffffff;
    font-weight: bold;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
  }
  
  .wrapper-add-product {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .product-add {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
  }
  .form-group {
    position: relative;
  }
  
  .error-message {
    color: red;
  }
  