.seller-row {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #52C993;
    font-size: 14px;
    color: #121212;
}


.seller-col:first-child {
    flex: 1;
}

.seller-info {
    width: auto;
    background-color: #68D0A1;
    box-shadow: 12px 12px 15px -3px rgba(0, 0, 0, 0.1), -13px 10px 15px -3px rgba(0, 0, 0, 0.1);
    padding: 30px 50px;
    border-radius: 60px;
    margin: 0 100px;
}

.seller-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.seller-header img {
    width: 150px;
    height: auto;
}

.seller-body {
    display: flex;
    flex-direction: column;
}

.seller-body span {
    text-align: center;
    margin-bottom: 5px;
}

.seller-body span:first-child {
    font-weight: bold;
    font-size: 18px;
}

.seller-col:last-child {
    flex: 4;
}

.seller-footer {
    margin-top: 40px;
}

.follow {
    background: #2f5f74;
    width: max-content;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 3px;
    font-size: 12px;
    display: block;
    margin: 5px auto;
    cursor: pointer;
    box-shadow: 0 0 1px #2f5f74;
    transition: all 0.5s;
}

.follow:hover {
    background: #ffffff;
    color: #2f5f74;
}

.seller-title {
    text-align: center;
    margin-bottom: 40px;
    
}
.seller-products2{
    display: block;
    margin: 0 20px 0 auto;
    background-color: #f0f3bd;
    padding: 2px 10px;
    border: none;
    box-shadow: 0 0 5px #f0f3bd;
    color: #2f5f74;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    transition: all 0.5s;
}
.seller-products .card-footer {
    padding: 20px 0;
}

.seller-products .card-footer button {
    display: block;
    margin: 0 auto;
    background-color: #f0f3bd;
    padding: 5px 10px;
    border: none;
    box-shadow: 0 0 5px #f0f3bd;
    color: #000000;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    transition: all 0.5s;
    padding: 10px 20px;
    border-radius: 20px;
}

.seller-products .card-footer button:hover {
    background-color: #227a07;
    color: #f3bdbd;
}

.pagi-item {
    background-color: #1bd60ab4;
    border: solid;
    padding: 3px;
}
/*up the click*/
.pagi-item:hover {
    background-color: #09c909;
    cursor: pointer;
}

.pagi-link {
    padding: 15px;
    margin-left: -2%;
    font-weight: bold;
}
/*words in buttons activated*/
.pagi-item:hover .pagi-link {
    color: #ffffff;
}

.pagi-active-link {
    color: #ffffff;
}

.disabledPagi {
    -webkit-transition: 1s linear;
    transition: 0.25s linear;
    background-color: #1bd60ab4;

}
.disabledPagi:hover{  
    -webkit-box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
    box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
  }
.disabledPagi .pagi-link {
    color: #000000;
}

.disabledPagi:hover {
    transform: scale(1.1);
    background-color: #09c909;
}

.disabledPagi:hover .pagi-link {
    color: #fdfdfd;
}