.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modal-content {
    background-color: #62CF9D;
    padding: 20px;
    border-radius: 5px;
    max-width: 300px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);;
    gap: 10px;
    
  }
  .modal-content p {
    margin-bottom: 20px;

  }
  .modal-content button {
    background-color: #FEEC80;
    color: #050505;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  .modal-content button:hover {
    background-color: #0069d9;
  }

  .one{
    grid-column: 1/4;
  }

  .two{
    grid-column: 1;
    grid-row: 2;
  }

  .three{
    grid-column: 3;
    grid-row: 2;
  }