.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modal-content {
    background-color: #62CF9D;
    padding: 20px;
    border-radius: 5px;
    max-width: 300px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);;
    gap: 10px;
    
  }
  .modal-content p {
    margin-bottom: 20px;

  }
  .modal-content button {
    background-color: #FEEC80;
    color: #050505;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  .modal-content button:hover {
    background-color: #0069d9;
  }

  .one{
    grid-column: 1/4;
  }

  .two{
    grid-column: 1;
    grid-row: 2;
  }

  .three{
    grid-column: 3;
    grid-row: 2;
  }

  .filter-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-right: 50px;
    margin-bottom: 40px;
  }
  
  .pagi-item {
    margin: 0 10px;
    border: none;
    border-radius: 10px;
    padding: 8px 12px;
    background-color: #1c9b23;
    box-shadow: 10px 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  
  .pagi-link {
    color: #ffffff;
    text-decoration: none;
    padding: 5px;
  }
  
  .pagi-active .a {
    background-color: #65cc6a;
    color: #fff;
  }
  /*
  .pagi-active-link {
    background: #1c9b23;
    box-sizing: border-box;
  }*/

  .disabledPagi {
    opacity: 0.5;
    cursor: not-allowed;
  }
  .page-link-clickable {
    cursor: pointer;
    display: block;
    
  }