.header-container {
  position: absolute;
  width: 100vw;
  min-height: 60px;
  box-shadow: 0 15px 10px -15px #485b63;
  z-index: 999999999;
  background-color: #121212;
  border-radius: 0 0 60px 60px;
}
.header-action{
  flex-wrap: wrap;
  margin-top: 30px;
}
.header-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 5px;
}

.header-top {
  display: flex;
  justify-content: center;
}

.header-top span {
  font-size: 12px;
  margin: 0 15px;
}

.header-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
}

.header-logo-image {
  width: 90px;
  margin: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo-image img {
  width: 90px;
  height: auto;
}

.header-nav a {
  margin: 0 25px;
  text-transform: capitalize;
  font-size: 14px;
  color: #ffffff;
  text-shadow: 0 0 1px #485b63;
}

.header-action a {
  position: relative;
  margin: 0 20px;
  color: #ffffff;
  text-shadow: 0 0 1px #485b63;
  font-size: 14px;
}

.header-action span {
  color: #ffffff;
}

.header-action a .header-cart-badge {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 20px;
  padding: 2px;
  min-height: 20px;
  border-radius: 50%;
  background-color: #ca2734;
  font-size: 12px;
  color: #ffffff;
  top: -15px;
  right: -15px;
}

span.login {
  margin: 0 10px;
  color: #ffffff;
}

.active {
  border-bottom: 3px solid #ca2734;
}



.landing {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
/*------------*/
/*.ctn-wrapper-landing {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1001%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(60%2c 194%2c 133%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c633.379C123.142%2c660.598%2c267.53%2c647.912%2c364.807%2c567.65C460.757%2c488.483%2c448.115%2c341.233%2c494.143%2c225.668C537.261%2c117.408%2c639.778%2c25.686%2c626.785%2c-90.118C613.739%2c-206.393%2c497.793%2c-276.87%2c427.282%2c-370.242C350.677%2c-471.684%2c318.257%2c-633.347%2c194.532%2c-662.516C69.651%2c-691.958%2c-31.847%2c-559.263%2c-148.576%2c-506.004C-245.605%2c-461.733%2c-363.023%2c-455.673%2c-433.754%2c-375.85C-504.748%2c-295.73%2c-530.672%2c-183.17%2c-529.486%2c-76.129C-528.393%2c22.492%2c-472.112%2c107.276%2c-427.425%2c195.199C-384.651%2c279.358%2c-339.975%2c358.859%2c-274.055%2c426.438C-192.472%2c510.074%2c-114.082%2c608.163%2c0%2c633.379' fill='%23309b6a'%3e%3c/path%3e%3cpath d='M1440 1075.99C1561.87 1091.424 1684.615 1163.783 1798.612 1118.011 1916.408 1070.713 2023.23 960.23 2041.24 834.577 2059.201 709.2719999999999 1907.58 620.648 1887.8229999999999 495.613 1868.531 373.51800000000003 1981.0320000000002 247.716 1930.674 134.829 1879.018 19.03200000000004 1752.5439999999999-55.00199999999995 1629.161-84.22299999999996 1508.199-112.87099999999998 1381.362-75.34400000000005 1269.156-21.84299999999996 1167.882 26.446000000000026 1085.87 106.76600000000002 1027.567 202.625 975.164 288.784 962.079 389.884 957.467 490.622 953.2180000000001 583.423 973.143 671.719 1002.047 760.006 1034.304 858.534 1051.2930000000001 973.356 1135.368 1034.016 1220.212 1095.231 1336.2069999999999 1062.845 1440 1075.99' fill='%2362cf9d'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1001'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1016%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(238%2c 195%2c 132%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c571.729C105.628%2c545.278%2c123.063%2c392.89%2c215.159%2c334.794C308.589%2c275.857%2c453.811%2c323.942%2c525.726%2c240.091C597.912%2c155.925%2c590.2%2c27.154%2c572.95%2c-82.378C555.839%2c-191.03%2c507.025%2c-294.162%2c429.329%2c-372.016C354.516%2c-446.982%2c254.732%2c-502.208%2c148.942%2c-507.25C51.281%2c-511.905%2c-25.851%2c-433.734%2c-116.878%2c-398.05C-197.893%2c-366.291%2c-296.972%2c-372.368%2c-356.658%2c-309.046C-416.955%2c-245.076%2c-414.574%2c-148.187%2c-433.344%2c-62.306C-453.69%2c30.789%2c-495.053%2c122.939%2c-471.237%2c215.207C-445.498%2c314.925%2c-379.823%2c401.085%2c-297.694%2c463.221C-211.725%2c528.262%2c-104.572%2c597.915%2c0%2c571.729' fill='%23e5a343'%3e%3c/path%3e%3cpath d='M1440 1130.097C1544.882 1131.054 1605.951 1009.2180000000001 1702.767 968.873 1830.08 915.8199999999999 2010.2930000000001 968.668 2092.733 858.0930000000001 2172.016 751.752 2103.308 598.342 2075.754 468.592 2049.825 346.495 2014.133 227.411 1937.825 128.632 1858.508 25.95799999999997 1756.6109999999999-58.589000000000055 1634.542-102.548 1507.922-148.14499999999998 1366.808-166.481 1239.499-122.84299999999996 1114.4850000000001-79.99199999999996 1007.371 15.344000000000051 947.254 133.03300000000002 892.481 240.26 944.296 367.09000000000003 928.275 486.425 912.468 604.168 798.57 722.543 854.005 827.615 910.156 934.044 1073.368 908.913 1180.296 964.108 1273.477 1012.207 1335.141 1129.141 1440 1130.097' fill='%23f7e3c5'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1016'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e"); */
  /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1006%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(238%2c 195%2c 132%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c406.265C105.198%2c420.184%2c215.737%2c531.962%2c304.496%2c473.805C393.547%2c415.457%2c330.406%2c267.419%2c365.378%2c166.863C395.6%2c79.964%2c498.423%2c20.873%2c493.98%2c-71.024C489.512%2c-163.436%2c394.753%2c-220.509%2c342.944%2c-297.162C282.534%2c-386.54%2c269.801%2c-537.239%2c164.145%2c-559.025C55.686%2c-581.389%2c-9.568%2c-425.524%2c-114.98%2c-391.586C-215.94%2c-359.081%2c-354.67%2c-447.63%2c-425.911%2c-369.054C-496.624%2c-291.061%2c-398.141%2c-163.568%2c-415.81%2c-59.784C-434.234%2c48.437%2c-565.862%2c138.282%2c-529.945%2c242.018C-494.843%2c343.399%2c-359.249%2c367.784%2c-256.772%2c399.545C-173.299%2c425.416%2c-86.635%2c394.802%2c0%2c406.265' fill='%23e5a343'%3e%3c/path%3e%3cpath d='M1440 1227.0839999999998C1564.334 1227.452 1680.459 1162.145 1775.313 1081.758 1862.979 1007.463 1899.732 896.185 1951.503 793.595 2005.5810000000001 686.433 2085.33 587.233 2085.442 467.199 2085.561 339.469 2029.277 218.03699999999998 1952.132 116.23500000000001 1871.583 9.940000000000055 1766.208-77.97900000000004 1639.8899999999999-120.76300000000003 1510.618-164.54700000000003 1368.143-168.82000000000005 1238.753-125.38599999999997 1111.896-82.80200000000002 1003.571 6.216000000000008 929.5450000000001 117.68900000000002 860.462 221.71800000000002 830.343 349.413 840.819 473.851 850.163 584.84 939.653 666.069 984.303 768.11 1029.934 872.392 1025.758 999.002 1105.958 1079.779 1193.472 1167.922 1315.792 1226.717 1440 1227.0839999999998' fill='%23f7e3c5'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1006'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e"); */
/*}

/*HERO*/
.ctn-land-hero {
  position: relative;
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* background-color: #62cf9d; */
  padding: 100px 0 100px 150px;
  z-index: 99999;
}

.ctn-land-hero a {
  text-decoration: none;
}
/*------------------------*/
/*.ctn-images-hero {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #309b6a; 
  margin: 100px;
/*}
/*hero*/

.ctn-img-bg-1,
.ctn-img-bg-2,
.ctn-img-bg-3 {
  position: absolute;
  width: 20vw;
  height: auto;
  z-index: 9;
}

.ctn-img-bg-4 {
  position: absolute;
  bottom: 15%;
  right: 10%;
  width: 10vw;
  height: auto;
  z-index: 9;
}

.ctn-img-bg-1 img,
.ctn-img-bg-2 img,
.ctn-img-bg-3 img,
.ctn-img-bg-4 img {
  width: 100%;
  height: 100%;
}

.ctn-img-bg-1 img.first {
  transform: rotate(0);
  animation: flotar1 5s infinite;
}

.ctn-img-bg-2 img.second {
  transform: rotate(-25deg) translate(-50%, -20%);
  animation: flotar2 6s infinite;
}

.ctn-img-bg-3 img.third {
  transform: rotate(25deg) translate(50%, -20%);
  animation: flotar3 6s infinite;
}

.ctn-img-bg-4 img.fourth {
  animation: flotar4 7s infinite linear;
}

svg.rotating-slow {
  position: absolute;
  z-index: 1;
  animation: flotar4 60s infinite linear;
}

@keyframes flotar1 {
  0% {
    transform: translateY(-5%);
  }

  50% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-5%);
  }
}

@keyframes flotar2 {
  0% {
    transform: rotate(-25deg) translate(-50%, -25%);
  }

  50% {
    transform: rotate(-25deg) translate(-50%, -15%);
  }

  100% {
    transform: rotate(-25deg) translate(-50%, -25%);
  }
}

@keyframes flotar3 {
  0% {
    transform: rotate(25deg) translate(50%, -25%);
  }

  50% {
    transform: rotate(25deg) translate(50%, -15%);
  }

  100% {
    transform: rotate(25deg) translate(50%, -25%);
  }
}

@keyframes flotar4 {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.ctn-text-1 {
  z-index: 9;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.ctn-text-1 span {
  color: rgba(18, 18, 18, 1);
  font-size: 45px;
  margin: 20px 0 10px 0;
  letter-spacing: 5px;
  text-transform: capitalize;
  line-height: 1.35;
  font-weight: 800;
}

.ctn-text-2 {
  margin: 0 0 10px 0;
  z-index: 9;
}

.ctn-text-2 span {
  color: rgba(18, 18, 18, 1);
  font-size: 35px;
  text-align: center;
  font-weight: 600;
}

span.text-percent {
  background-color: #1bc59b;
  padding: 1px 10px;
  border-radius: 30px;
}

.ctn-btn-buy {
  background-color: #121212;
  padding: 20px 30px;
  border-radius: 40px;
  margin: 20px 0 0 0;
  transition: all 0.5s ease;
  border: 2px solid #121212;
  color: #62cf9d;
  font-size: 21px;
  transition: all 0.5s ease;
  letter-spacing: 3px;
  font-weight: 600;
}

.ctn-btn-buy span {
  margin: 0 0 0 10px;
}

.ctn-btn-buy:hover {
  background-color: transparent;
  transition: all 0.5s ease;
  border: 2px solid #121212;
  color: #121212;
  transition: all 0.5s ease;
}

.ctn-btn-buy button {
  color: #121212;
  font-size: 21px;
  transition: all 0.5s ease;
}

.ctn-btn-buy:hover button {
  color: #121212;
  transition: all 0.5s ease;
}
/*--------------------------------------*/
/*@media only screen and (max-width: 991px) {
  .landing {
    flex-direction: row;
  }

  .ctn-wrapper-landing {
    flex-direction: column;
  }

  .ctn-land-hero {
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 100px 0 20px 0;
  }

  .ctn-land-hero a {
    text-decoration: none;
  }

  .ctn-images-hero {
    width: 100%;
    margin: 50px;
  }

  .ctn-img-bg-1,
  .ctn-img-bg-2,
  .ctn-img-bg-3 {
    position: absolute;
    width: 20vw;
    height: auto;
    z-index: 9;
  }

  .ctn-img-bg-4 {
    bottom: 5%;
    right: 20%;
    width: 50px;
  }

  .ctn-img-bg-1 {
    width: 120px;
  }

  .ctn-img-bg-2 {
    width: 120px;
  }

  .ctn-text-1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ctn-text-1 span {
    font-size: 35px;
    margin: 20px 0;
    text-align: center;
    letter-spacing: 5px;
  }

  .ctn-text-2 span {
    font-size: 14px;
    margin: 20px 0;
    letter-spacing: 2px;
    
  }
}*/
/* HERO*/

/* --------------------------------------------------- */

/* .latest-row {
  align-content: center;
  background-color: #3cc285;
  width: 100%;
  height: 130vh;
  padding: 10% 2%;
  margin-left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  background-size: cover;
  flex-direction: row;
  flex-wrap: wrap;
}

.latest-col:first-child {
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
}

.latest-products {
  display: grid;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 0px;
  flex: 1;
  min-width: 250px;
  margin-top: 0px;
  object-fit: cover;
  padding: 0px;
  grid-template-columns: repeat(auto-fit, minmax(220px, auto));
  justify-content: space-between;
  justify-items: center;
  grid-gap: 30px 50px

}

.latest-group {
  padding: 20px;
  box-shadow: 1px 2px 11px 4px rgb(14 55 54 / 15%);
  border-radius: 0.5rem;
  position: relative;
  
}

.latest-header {
  width: 100%;
  height: 200px;
  display: grid;
  place-items: center;
  object-fit: contain;
  object-position: center;
}

.latest-body {
  font-weight: 500;
  font-size: 13px;
}

.latest-body a {
  text-align: center;
  text-shadow: 0 0 1px #2f5f74;
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: 600;
}

.latest-body span.category {
  background: #ca2734 !important;
  width: max-content;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: bold;
  padding: 2px 10px;
  border-radius: 3px;
  font-size: 12px;
  display: block;
  margin: 10px 0 5px auto;
}

.latest-body span.price {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 0.5rem;
  color: #121212;
}

.latest-col:first-child h2 {
  text-align: center;
  color: #121212;
  margin-bottom: 10px;
}

.latest-col:last-child {
  flex: 4;
}

.latest-col:last-child h2 {
    text-align: center;
    color: #121212;
    margin-bottom: 50px;
    letter-spacing: 5px;
    display: flex;
    position: relative;
    top: 50px;
}

.latest-header img {
  width: 200px;
  height: 150px;
} */

/*CARDS*/

.latest-sellers {
  font-family: "Bree Serif", serif;
}

.latest-sellers .card-latest {
  box-shadow: 0 5px 5px 1px grey;
  background: rgba(255, 255, 255, 0.9);
  text-align: center;
  border-radius: 5px;
  overflow: hidden;
  margin: 5em auto;
  height: 250px;
  width: 550px;
  position: relative;
}

.latest-sellers .image {
  transition: all 0.3s ease-out;
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 60%;
}

.latest-sellers .image img {
  width: 100%;
  height: 100%;
}

.latest-sellers .content {
  position: relative;
  text-align: left;
  overflow: hidden;
  padding: 2rem;
  height: 100%;
  float: left;
  width: 40%;
  background-color: #62cf9d;
}

.latest-sellers .info-latest {
  background: rgba(27, 26, 26, 0.9);
  font-family: "Bree Serif", serif;
  transition: all 0.3s ease-out;
  transform: translateX(-100%);
  position: absolute;
  line-height: 1.8;
  text-align: left;
  font-size: 105%;
  cursor: no-drop;
  color: #fff;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  text-align: center;
  padding: 3em;
}

.latest-sellers .image:hover .info-latest {
  transform: translateX(0);
}

.info-latest ul li {
  transition: 0.3s ease;
}
.info-latest ul li:hover {
  transform: translateX(50px) scale(1.3);
}

.latest-sellers .image:hover img {
  transition: all 0.3s ease-out;
}
.latest-sellers .image:hover img {
  transform: scale(1.2, 1.2);
}

.sellers-group {
  width: 250px;
}

.sellers-header {
  height: 130px;
  display: grid;
  place-items: center;
}

.sellers-body {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.sellers-body a {
  text-align: center;
  text-shadow: 0 0 1px #2f5f74;
  margin-bottom: 10px;
}

.sellers-body span.follow {
  background: #2f5f74;
  width: max-content;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: bold;
  padding: 5px 15px;
  border-radius: 3px;
  font-size: 14px;
  display: block;
  margin: 5px auto;
  cursor: pointer;
  box-shadow: 0 0 1px #2f5f74;
  transition: all 0.5s;
}

.sellers-body span.follow:hover {
  background: #ffffff;
  color: #2f5f74;
}

.sellers-body span.date {
  font-weight: bold;
  display: block;
  margin: 5px auto;
  font-size: 10px;
}

.sellers-header img {
  width: 130px;
  height: auto;
}
