.filter-row {
    padding: 1em;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
   /**/
    flex-direction: row;
}

.filter-row .filter-col:first-child {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
    flex-direction: row;
   /**/
}

.filter-row .filter-col:first-child .filter-group:first-child button {
    margin: 0.5em,;
    background-color: #2f5f74;
    padding: 10px 25px;
    border: none;
    box-shadow: 0 0 5px #2f5f74;
    color: #ffffff;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    transition: all 0.5s;
}

.filter-row .filter-col:first-child .filter-group:first-child button:hover {
    background-color: #ffffff;
    color: #2f5f74;
}

.filter-row .filter-col:first-child .filter-group:last-child input {
    padding: 10px 25px;
    border: none;
    box-shadow: 0 0 3px #2f5f74;
    width: 150px;
    outline: none;
    letter-spacing: 1.4px;
    color: #2f5f74;
    transition: all 0.7s;
    
}

.filter-row .filter-col:first-child .filter-group:last-child input:focus {
    width: 300px;
}

.filter-row .filter-col:first-child .filter-group:last-child button {
    background-color: #2f5f74;
    padding: 10px 25px;
    border: none;
    box-shadow: 0 0 5px #2f5f74;
    color: #ffffff;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    transition: all 0.5s;
   
}

.filter-row .filter-col:first-child .filter-group:last-child button:hover {
    background-color: #ffffff;
    color: #2f5f74;
}

.filter-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px 10px;
    margin-bottom: 1em;
    /**/
}

.filter-card {
    margin: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 300px;
    transition: all 0.5s;
    
}

.filter-card:hover {
    transform: scale(1.02);
}

.card-header {
    position: relative;
    height: 80px;
    display: grid;
    place-items: center;
    background-color: #ffffff;
}

.card-header .card-sellers {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 50px;
    border-radius: 50%;
    filter: drop-shadow(0 0 1px #485b63);
    height: 50px;
    margin-right: 10px;
}

.card-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0px 0;
        background-color: #57b983;
        padding: 10px
        
}

.card-body a {
    text-align: center;
    text-shadow: 0 0 1px #2f5f74;
    margin-bottom: 10px;
    
    
}

.card-body span.category {
    background: #8add95;
    border-radius: 10px;
    font-size: 12px;
    margin: 0;
    color: #fff;
    padding: 2px 10px;
    text-transform: uppercase;
    cursor: pointer;
    
}
.card-body span.price {
    font-weight: bold;
    display: block;
    margin: 5px 0 5px auto;
    
}

.card-header img {
    width: 80px;
    height: auto;
    
}

.filter-row .filter-col:last-child .card-footer {
    margin: 10px 0;
}

.filter-row .filter-col:last-child .card-footer button {
    display: block;
    margin: 0 auto;
    background-color: #f0f3bd;
    padding: 5px 10px;
    border: none;
    box-shadow: 0 0 5px #f0f3bd;
    color: #000000;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    transition: all 0.5s;
}

.filter-row .filter-col:last-child button:hover {
    background-color: #2f5f74;
    color: #f0f3bd;
}

.filter-pagination {
    display: flex;
    justify-content: center;
    bottom: 0;
}

.filter-pagination ul {
    display: flex;
    background-color: #2f5f74;
}

.filter-pagination ul li {
    border: 0.5px solid #485b63;
    padding: 5px;
}

.filter-pagination ul li:hover {
    background-color: #2f5f74;
}

.filter-pagination ul li:hover a {
    color: #ffffff;
}

.filter-pagination ul li a {
    padding: 15px;
    font-weight: bold;
}

.pagi-active {
    background-color: #99b6ec;
}

.filter-pagination ul li.pagi-active a,
.filter-pagination ul li:hover a {
    color: #ffffff;
}

@media (max-width: 800px) {
  .filter-row filter-col:first-child {
    flex-direction: column;
  }
}
