/* Default Settings Start */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background-color: #0c065a2d;
}

html,
body {
  overflow-x: hidden;
  background-color: #a8f3a5;
}

body {
  font-family: 'Quicksand', sans-serif;
}

.wrapper {
  min-height: 100vh;
  display: grid;
/*  align-content: space-between;
*/

  grid-template-rows: auto 1fr auto;
 
}

main {
  background-color: #a8f3a5;
  display: flex;
  flex-direction: column;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #070707;
}

ul {
  list-style: none;
}

/* Default Settings End */