.account-row {
    flex-wrap: wrap;
    height: auto;
    background-color: #a8f3a5;
    background-size: cover;
    width: 100vw;
}

.ctn-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    height: 100%;
    border: 1px solid #dfd5d5;
    margin-bottom: 30px;
    border-radius: 60px;
}
.account-title{
    font: bold 40px MiNuevaFuente, verdana, sans-serif;
    margin-top: 10%;
    background-color: #fefffe;
    background-size: cover;
    box-shadow: rgb(150,150,150) 0px 0px 0px 8px;
    margin-left: 33.9%;
    width: 35%;
    margin-bottom: 3%;
    text-align: center;
    padding-top: 10px;
    border-radius: 8px;
    color: rgb(5, 109, 10);
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
 @font-face {
    font-family: 'MiNuevaFuente';
    src: url('VarygraphieBold_PERSONAL_USE_ONLY.otf');

    }
    @font-face {
        font-family: 'MiNuevaFuente2';
        src: url('VarygraphieRegular_PERSONAL_USE_ONLY.otf');
    }
    

.ctn-title h2 {
    font-family: 'Krona One', sans-serif;
    font-size: 22px;
    color: #2f5f74;
    
}

.account-groups {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.wrapper-items-account {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    padding: 20px 0 0 50px;
    border-radius: 60px;
    background-color: rgba(18, 18, 18, 0.2);
}

.account-group:first-child {
    flex: 1;
}

.account-group:last-child {
    flex: 2;
}

.wrapper-form-edit-account {
    background-color: #5e4c4c;
    box-shadow: 20px 12px 15px -3px rgba(0, 0, 0, 0.1), -20px 12px 15px -3px rgba(0, 0, 0, 0.1);
    border-radius: 60px;
    margin: 0 50px;
    
}

.account-group {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.account-group:nth-child(1) {
    display: flex;
    flex-direction: row;
    margin-left: 0px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.account-group:nth-child(2) {
    padding: 50px 0;
}

.account-group img {
    width: 280px;
    height: auto;
    color: #1ef00b;
    display: block;
    margin: 0 auto;
}

.form-row.account {
    box-shadow: rgb(23, 133, 19) 0px 0px 0px 8px;
    display: flex;
    background-color: rgb(252, 252, 252);
    flex-direction: column;
    margin: 20px 0;
    min-height: auto;
    width: fit-content;
    color: rgb(5, 109, 10);
    min-height: unset;
    padding: 0 auto !important;
}
label{
    color: rgb(0, 0, 0);
}

.account-image {
    display: block;
    margin: 5px auto;
    padding: 5px 10px;
    border: none;
    box-shadow: 0 0 5px #f0f3bd;
    color: #2f5f74;
    letter-spacing: 1.4px;
    font-size: 12px;
    text-transform: uppercase;
    transition: all 0.5s;
}

.image-account {
    background-color: transparent !important;
    box-shadow: none !important;
}

.account-image:hover {
    background-color: #2f5f74;
    color: #c6f3bd;
}

.account-subtitle {
    font: bold 50px  a_SeriferNr;
    margin-bottom: 30px;
    letter-spacing: 1.4px;
    color: rgb(15, 15, 15);
    text-align: center;
}

.account-products {
    margin-bottom: 50px;
    color: whitesmoke;
}

.card-footer.account {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}

.card-footer.account button:first-child {
    display: block;
    margin: 5px auto;
    background-color: #ebf0ec;
    padding: 5px 10px;
    border: none;
    box-shadow: 0 0 5px #38383470;
    color: #02052c;
    margin-right: 10px;
    letter-spacing: 1.4px;
    font-size: 12px;
    text-transform: uppercase;
    transition: all 0.5s;
}

.card-footer.account button:first-child:hover {
    color:#ebf0ec ;
    background-color:#07580e;
}

.card-footer.account button:last-child {
    display: block;
    margin: 5px auto;
    background-color:#ebf0ec;
    padding: 5px 10px;
    border: none;
    box-shadow:#38383470;
    color: #ca2734;
    letter-spacing: 1.4px;
    font-size: 12px;
    text-transform: uppercase;
    transition: all 0.5s;
}

.card-footer.account button:last-child:hover {
    background-color: #ca2734;
    color:#ffffff ;
}

.account-orders {
    display: flex;
    color: rgb(15,15,15);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.account-orders h4 {
    margin-bottom: 10px;
}

.account-orders h4:last-child {
    margin-bottom: 40px;
}

.account-orders a.linkOrder {
    margin-left: 50px;
    transition: all 0.5s;
}

.account-orders a:hover {
    filter: drop-shadow(0 0 1px #2f5f74);
}

.form-image {
    position: relative;
    background-color: rgba(5, 192, 30, 0.664);
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.form-image:hover {
    color: rgb(5, 5, 5);
}
.form-image {
    transition: color 0.3s linear 0.2s;
}

.form-image p {
    font-size: 12px;
    margin: 20px 0;
}

.form-image label {
    position: relative;
    font-size: 25px;
    cursor: pointer;
    filter: drop-shadow(0 0 1px #ebe5e5);
    transition: all 0.5s;
}

.form-image label:hover {
    color: #ffffff79;
}

.btn-upload {
    display: block;
    margin: 5px auto;
    background-color: #f0f3bd;
    padding: 5px 10px;
    border: none;
    box-shadow: 0 0 5px #f0f3bd;
    color: #2f5f74;
    letter-spacing: 1.4px;
    font-size: 12px;
    text-transform: uppercase;
    border: 1px solid #999999;
    background: #03026b;
    border-radius: 2px;
    color: rgb(245, 245, 245);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    transition: all 0.5s;
}

.btn-upload:hover {
    background-color: #0dc21c;
    color: #f0f3bd;
}

.add-btn {
    display: block;
    margin-left: 0%;
    padding: 9px 18px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    background-color: #e71c1c94;
    color: #f8faf8;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 10px;
    letter-spacing: 1.3px;
    transition: all 0.5s;
    box-shadow: 0 0 5px #e09812a4;
    font-size: 18px;
}

.add-btn:hover {
    background-color:#10cc1085 ;
    color:#f8faf8 ;
}

.form-image.product img {
    width: 130px !important;
    height: auto;
}

.orderContainer {
    background-color: #a8f3a5;
    max-width: 1824px;
    padding: 10px 3px 150px;
    background-size: cover;
    margin: auto;
}

.orderContainer .orderRow:first-child {
    margin-bottom: 100px;
}

.orderContainer .orderRow h3 {
    text-align: center;
    margin-top: 40px;
    border: solid;
    font-size: 27px;
    text-size-adjust: 38px;
    position: relative;
    border-color: #021807;
    border-radius: 10px;
    color: #e9d8d8;
    background-color: #07682fb0;
    margin-bottom: 80px;
}

.orderContainer .orderRow.products {
    display: flex;
}

.orderContainer .orderRow.products .orderCol:first-child {
    flex: 2;
    padding: 0 10px;
}
/*------------------*/
/*.orderContainer .orderRow.products .orderCol:last-child {
    flex: 1;
    position:relative;
    display: block;
    width: calc(100% - 25px);
    max-width: 1796px;
    margin: auto;
    padding: 10px 20px 20px;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-top: initial;
}
}

.orderContainer .orderRow.products .orderCol:first-child .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.orderContainer .back {
    font-weight: bold;
}

.orderContainer .back:hover {
    text-decoration: underline;
}*/
/*USER INFO ORDER*/

.infoGroups {
    margin-bottom: 40px;
    padding: 0 15px;
}

.info-group {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dashed #2f5f74;
    margin-bottom: 5px;
}

.info-group span:nth-child(2) {
    color: rgb(8, 8, 8);
    font-weight: bold;
}

/* --------------------------------------------------- */
/*.account-info {
    margin-top: 0px;
    color: #fcfcfc;
    height: 347px;
    background-color: rgba(5, 192, 30, 0.664);
    margin-left: 25px;
    
}
.account-info:hover {
    color: red;
}
.account-info {
    transition: color 0.3s linear 0.2s;
}

.account-info:hover,
.account-info:focus{
  background-color: #00ff00;
  color: #faf4f4;

}*/
/* ACCOUNT USER INFO */

.userInfoRow {
    margin-bottom: 50px;
    text-align: center;
    
}

.account-orders .info.userOrders {
    margin: 10px !important;
}

.form-account {
    background-image: none !important;
    padding: 60px 50px !important;
    background-color: #dddddd;
    box-shadow: 20px 12px 15px -3px rgba(0, 0, 0, 0.1), -20px 12px 15px -3px rgba(0, 0, 0, 0.1);
   
    width: fit-content;
    height:fit-content;
    padding: 10px 30px !important;
}

.form-account form {
    background-color: transparent !important;
}

.add-product form {
    height: 90vh;
    width: auto;
    background-color: #ffffff;
}

.form-account .form .form-group input {
    background: transparent;
    border: 0;
    border-bottom: 1px #121212 solid;
    display: block;
    width: 300px;
    padding: 15px 0;
    font-size: 1.125rem;
    color: #121212;
}

.form-account .form .form-group input:focus {
    outline: 0;
    border-bottom-color: #19c909ce;
}

.ctn-group {
    width: auto;
}

.ctn-productos-account {
    background-color: #f5f5f5;
    box-shadow: 20px 12px 15px -3px rgba(0, 0, 0, 0.1), -20px 12px 15px -3px rgba(0, 0, 0, 0.1);
    padding: 15px;
    border-radius: 30px;
    margin: 30px 0;
}

.ctn-orders-account {
    background-color: #f5f5f5;
    box-shadow: 20px 12px 15px -3px rgba(0, 0, 0, 0.1), -20px 12px 15px -3px rgba(0, 0, 0, 0.1);
    padding: 15px;
    border-radius: 30px;
    margin: 30px 0;
}

.ctn-productos-account h2 {
    padding: 10px 0;
    border-bottom: 1px solid #121212;
}

.ctn-orders-account h2 {
    padding: 10px 0;
    border-bottom: 1px solid #121212;
}