body{
  background: #a8f3a5;
}

.terms {
    background-color: #acf4a4 ;
    margin: 100px;
    max-width: 1280px;
    align-content: center;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }

  .nuestro {
    font-size: 4.5em;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  
  h2 {
    font-size: 2.3em;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 1.1em;
    line-height: 1.5;
    text-align: justify;
    margin-bottom: 20px;
  }

  .condiciones{
    margin: 150px;
}


.img-condiciones{
    width: 150px;
    height: auto;
}
.col-3 {width: 50%;}
.col-9 {width: 50%;}


  @media only screen and (max-width: 600px) {
    h1 {
      font-size: 28px;
    }
  
    h2 {
      font-size: 20px;
    }
  
    p {
      font-size: 14px;
    }
  }
  @media only screen and (max-width: 400px) {
    h1 {
      font-size: 24px;
    }
  
    h2 {
      font-size: 18px;
    }
  
    p {
      font-size: 12px;
    }
  }