.product-row {
    display: flex;
    justify-content: left;
    padding-left: 10%;
    align-items: center;
    background-color: rgba(3, 211, 83, 0.781);
    height: 100vh;
}
.product-col{
    margin-left: 6%;
}
.bg_animate{
    width: 100%;
    height: 100vh;
    background:linear-gradient(to right, #ca2734,#2f5f74);
    position: relative;
    overflow: hidden;
}
.burbuja{
    border-radius: 50%;
    background: #fff;
    opacity: .3;
    position: absolute;
    bottom: -150;
    animation: burbujas 3s linear infinite;
}
.burbuja:nth-child(1){
    width: 80px;
    height: 80px;
    left: 5%;
    animation-duration: 3s;
    animation-delay: 0.1s;
}
.burbuja:nth-child(2){
    width: 100px;
    height: 100px;
    left: 45%;
    animation-duration: 3s;
    animation-delay: 0.2s;
}
.burbuja:nth-child(3){
    width: 20px;
    height: 20px;
    left: 65%;
    animation-duration: 1.5s;
    animation-delay: 0.3s;
}
.burbuja:nth-child(4){
    width: 50px;
    height: 50px;
    left: 90%;
    animation-duration: 6s;
    animation-delay: 0.3s;
}
.burbuja:nth-child(5){
    width: 70px;
    height: 70px;
    left: 65%;
    animation-duration: 3s;
    animation-delay: 1s;
}
.burbuja:nth-child(6){
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 0s;
}
.burbuja:nth-child(7){
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 0s;
}
.burbuja:nth-child(8){
    width: 100px;
    height: 100px;
    left: 52%;
    animation-duration: 5s;
    animation-delay: 0s;
}
.burbuja:nth-child(9){
    width: 65px;
    height: 65px;
    left: 51%;
    animation-duration: 3s;
    animation-delay: 0s;
}
.burbuja:nth-child(10){
    width: 40px;
    height: 40px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 0s;
}
@keyframes burbujas{
    0%{
        bottom: 0;
        opacity: 0;
    }
    30%{
        transform: translate(30px);
    }
    50%{
        opacity: .4;
    }
    100%{
        bottom: 100vh;
        opacity: 0;
    }
}
@keyframes movimiento{
    0%{
       transform: translateY(0);
    }
    50%{
        transform: translateY(30px);
    }
    100%{
       transform: translateY(0);
    }
}

.product-col:first-child {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-col:first-child img {
    width: 200px;
    height: auto;
    animation: flotar1 5s infinite;
}

@keyframes flotar1 {
    0% {
        transform: translateY(-5%);
    }

    50% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-5%);
    }
}

.product-col:first-child img.seller-product {
    position: absolute;
    top: -15px;
    right: 0px;
    width: 25%;
    border-radius: 50%;
    filter: drop-shadow(0 0 1px #485b63);
    height: auto;
}



.product-info {
    margin-bottom: 20px;
}

.product-info h2 {
    letter-spacing: 1.3px;
    color: #485b63;
}

.product-info .category {
    background: #ca2734 !important;
    width: max-content;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: bold;
    padding: 2px 10px;
    border-radius: 3px;
    font-size: 12px;
    display: block;
}

.product-info:nth-child(2) {
    display: flex;
    flex-direction: column;
}

.product-info .price {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 18px;
}

.product-info .desc {
    color: #485b63;
}

.product-add {
    margin-top: 40px;
}

.product-add button {
    display: block;
    margin: 0 20px 0 auto;
    background-color: #f0f3bd;
    padding: 5px 10px;
    border: none;
    box-shadow: 0 0 5px #f0f3bd;
    color: #2f5f74;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    transition: all 0.5s;
}

.product-add button:hover {
    background-color: #2f5f74;
    color: #f0f3bd;
}