* {
    box-sizing: border-box;
    position: relative;
  }

  .flex-container {
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    padding-top: 20px;

  }
  
  .flex-container2 {
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    flex-direction: row-reverse;
  }
  .flex-item-left {
    padding: 10px;
    flex: 30%;
  }
  
  .flex-item-right {
    background-color: rgb(109, 237, 154);
    border-radius: 8px;
    padding: 55px;
    flex: 70%;
  }

  .flex-item-left2 {
    padding: 50px;
    flex: 70%;
  }
  
  .flex-item-right2 {
    padding: 10px;
    flex: 30%;
  }

.img-nosotros{
    width: 350px;
    height: auto;
}

.nosotros{
    margin: 100px;
}

.img-cont{
    display: flex;
    justify-content: center; 
}

.img-about{
    width: 350px;
    height: 307px;
    border-radius: 8px;
}

.texto{
  font-size: 20px;
  text-align: justify;
  margin-left: 100px;
}


 @media only screen and (max-width: 600px) {
    /*h1 {
      font-size: 28px;
    }*/
  
    h2 {
      font-size: 20px;
    }
  
    p {
      font-size: 14px; 
    }

    .nosotros{
        margin: 50px;
    }
    
    .img-nosotros{
        width: 250px;
        height: auto;
    }
    .col-3 {width: 50%;}
    .col-9 {width: 50%;}
  }
  @media only screen and (max-width: 400px) {
    /*h1 {
      font-size: 24px;
    }*/
  
    h2 {
      font-size: 18px;
    }
  
    p {
      font-size: 12px;
    }
    .nosotros{
        margin: 30px;
    }
    .img-nosotros{
        padding-top: 30px;
        width: 250px;
        height: auto;
    }
  }
